# Libraries to import

In [1]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.svm import SVR
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
import pandas as pd

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import cross_val_score
import math
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import r2_score
from IPython import display

import warnings
warnings.filterwarnings('ignore')

# Generic functions to get the baseline models, ie with the default parameters

In [2]:
# Function 1: Let's define a function which will instantiate as many models 
#as you wish to

def Reg_getBasedModel():
    basedModels = []
    basedModels.append(('LinearR'   , LinearRegression()))
    basedModels.append(('Ridge'   , Ridge()))
    basedModels.append(('Lasso'   , Lasso()))
    basedModels.append(('DT' , DecisionTreeRegressor()))
    #basedModels.append(('SVM-R'  , SVR()))
    basedModels.append(('RF'   , RandomForestRegressor()))
    return basedModels

In [3]:
'''
# Function 2: Let's define a function that will train 
# each individual model described in GetBasedModel() function

def Reg_basedModels(X_train, y_train,models):
    """
    BasedModels will return the evaluation metric 'r2 after performing
    a CV for each of the models
    input:
    X_train
    y_train
    models = array containing the different instantiated models
    
    output:
    names = names of the diff models tested
    results = results of the diff models
    """
    # Test options and evaluation metric
    num_folds = 10
    
    #num_folds =  k_folds
    scoring = 'r2'

    results = []
    names = []
    
    for name, model in models:
        #kfold = StratifiedKFold(n_splits=num_folds)
        cv_results = cross_val_score(model, X_train,
                                     y_train, cv=kfold, scoring=scoring)
        results.append(cv_results.mean())
        names.append(name)
        msg = "%s: Accuracy = %f (std = %f)" % (name, 
                                                cv_results.mean(), 
                                                cv_results.std())
        print(msg)
    scoreDataFrame = pd.DataFrame({'Model':names, 'Score': results})
       
        
    return scoreDataFrame'''

'\n# Function 2: Let\'s define a function that will train \n# each individual model described in GetBasedModel() function\n\ndef Reg_basedModels(X_train, y_train,models):\n    """\n    BasedModels will return the evaluation metric \'r2 after performing\n    a CV for each of the models\n    input:\n    X_train\n    y_train\n    models = array containing the different instantiated models\n    \n    output:\n    names = names of the diff models tested\n    results = results of the diff models\n    """\n    # Test options and evaluation metric\n    num_folds = 10\n    \n    #num_folds =  k_folds\n    scoring = \'r2\'\n\n    results = []\n    names = []\n    \n    for name, model in models:\n        #kfold = StratifiedKFold(n_splits=num_folds)\n        cv_results = cross_val_score(model, X_train,\n                                     y_train, cv=kfold, scoring=scoring)\n        results.append(cv_results.mean())\n        names.append(name)\n        msg = "%s: Accuracy = %f (std = %f)" % (name, \n                                                cv_results.mean(), \n                                                cv_results.std())\n        print(msg)\n    scoreDataFrame = pd.DataFrame({\'Model\':names, \'Score\': results})\n       \n        \n    return scoreDataFrame'

In [4]:
def Reg_basedModels(X_train, y_train,models):
    """
    BasedModels will return the evaluation metric 'r2 after performing
    a CV for each of the models
    input:
    X_train
    y_train
    models = array containing the different instantiated models    output:
    names = names of the diff models tested
    results = results of the diff models
    """
    # Test options and evaluation metric
    num_folds = 10
    scoring = 'r2'    
    results = []
    names = []    
    for name, model in models:
        cv_results = cross_val_score(model, X_train,
                                     y_train, cv=num_folds, scoring=scoring)
        results.append(cv_results.mean())
        names.append(name)
        msg = "%s: Accuracy = %f (std = %f)" % (name,
                                                cv_results.mean(),
                                                cv_results.std())
        print(msg)
    scoreDataFrame = pd.DataFrame({'Model':names, 'Score': results})    
    return scoreDataFrame

In [5]:
models = Reg_getBasedModel()

# Pipeline with the scaling methods

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler, RobustScaler

# We will define a function to apply any preprocessing method to the raw data

def Reg_GetScaledModel(nameOfScaler):
    """
    Function to define whether we want to apply any preprocessing method to the raw data.
    input:
    nameOfScale  = 'standard' (standardize),  'minmax' or 'robustscaler'
    """
    
    if nameOfScaler == 'standard':
        scaler = StandardScaler()
        
    elif nameOfScaler =='minmax':
        scaler = MinMaxScaler()
        
    elif nameOfScaler == 'robustscaler':
        scaler = RobustScaler()

    pipelines = []
    pipelines.append((nameOfScaler+'LinearR'  , 
                      Pipeline([('Scaler', scaler),
                                ('LinearR'   , LinearRegression())])))
    
    pipelines.append((nameOfScaler+'Ridge' , 
                      Pipeline([('Scaler', scaler),('Ridge', Ridge())])))
    
    pipelines.append((nameOfScaler+'Lasso', 
                      Pipeline([('Scaler', scaler),
                                ('Lasso'   , Lasso())])))
    
    pipelines.append((nameOfScaler+'DT' ,
                      Pipeline([('Scaler', scaler),
                                ('DT' , DecisionTreeRegressor())])))
    
    #pipelines.append((nameOfScaler+'SVM' ,
         #             Pipeline([('Scaler', scaler),
        #                        ('SVM-R' , SVR(kernel = 'rbf'))])))
    

    pipelines.append((nameOfScaler+'RF'  , 
                      Pipeline([('Scaler', scaler),
                                ('RF'  , DecisionTreeRegressor())])))
    return pipelines

# Testing models based on LinearRegression Feature Importance!

In [7]:
df = pd.read_csv('../datasets/P2_lr.csv')
df

,Unnamed: 0,HalfBath,KitchenAbvGr,FullBath,OverallCond,BsmtHalfBath,BedroomAbvGr,OverallQual,GarageCars,Fireplaces,BsmtFullBath,SalePrice_log
0,0,1,1,2,5,0,3,7,2,0,1,12.247694
1,1,0,1,2,8,1,3,6,2,1,0,12.109011
2,2,1,1,2,5,0,3,7,2,1,1,12.317167
3,3,0,1,1,5,0,3,7,3,1,1,11.849398
4,4,1,1,2,5,0,4,8,3,1,1,12.429216
...,...,...,...,...,...,...,...,...,...,...,...,...
1354,1454,0,1,2,5,0,2,7,2,0,1,12.128111
1355,1455,1,1,2,5,0,3,6,2,1,0,12.072541
1356,1457,0,1,2,9,0,4,7,1,2,0,12.493130
1357,1458,0,1,1,6,0,2,5,1,0,1,11.864462
1358,1459,1,1,1,6,0,3,5,1,0,1,11.901583

In [8]:
df = pd.read_csv('../datasets/P2_lr.csv')
df = df.drop(['Unnamed: 0'], axis = 1)
df

,HalfBath,KitchenAbvGr,FullBath,OverallCond,BsmtHalfBath,BedroomAbvGr,OverallQual,GarageCars,Fireplaces,BsmtFullBath,SalePrice_log
0,1,1,2,5,0,3,7,2,0,1,12.247694
1,0,1,2,8,1,3,6,2,1,0,12.109011
2,1,1,2,5,0,3,7,2,1,1,12.317167
3,0,1,1,5,0,3,7,3,1,1,11.849398
4,1,1,2,5,0,4,8,3,1,1,12.429216
...,...,...,...,...,...,...,...,...,...,...,...
1354,0,1,2,5,0,2,7,2,0,1,12.128111
1355,1,1,2,5,0,3,6,2,1,0,12.072541
1356,0,1,2,9,0,4,7,1,2,0,12.493130
1357,0,1,1,6,0,2,5,1,0,1,11.864462
1358,1,1,1,6,0,3,5,1,0,1,11.901583

### Define the target and non-target vars, together with the train_test split

In [9]:
X = df.drop(['SalePrice_log'], axis=1)
y = df['SalePrice_log']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,
                                                    random_state=42)

## Step 1: Define the baseline models

In [10]:
models = Reg_getBasedModel()

## Step 2: Fit the models

In [11]:
Base_model = Reg_basedModels(X_train, y_train,models)

LinearR: Accuracy = 0.785715 (std = 0.029150)
Ridge: Accuracy = 0.785779 (std = 0.029006)
Lasso: Accuracy = -0.005332 (std = 0.008475)
DT: Accuracy = 0.613192 (std = 0.061779)
RF: Accuracy = 0.739564 (std = 0.034816)

In [12]:
Base_model

     Model     Score
0  LinearR  0.785715
1    Ridge  0.785779
2    Lasso -0.005332
3       DT  0.613192
4       RF  0.739564

## Step 3: Get the models with the scaled data

In [13]:
models = Reg_GetScaledModel('standard')
models

[('standardLinearR',
  Pipeline(steps=[('Scaler', StandardScaler()), ('LinearR', LinearRegression())])),
 ('standardRidge',
  Pipeline(steps=[('Scaler', StandardScaler()), ('Ridge', Ridge())])),
 ('standardLasso',
  Pipeline(steps=[('Scaler', StandardScaler()), ('Lasso', Lasso())])),
 ('standardDT',
  Pipeline(steps=[('Scaler', StandardScaler()), ('DT', DecisionTreeRegressor())])),
 ('standardRF',
  Pipeline(steps=[('Scaler', StandardScaler()), ('RF', DecisionTreeRegressor())]))]

In [14]:
scaledScoreStandard = Reg_basedModels(X_train, y_train,models)

standardLinearR: Accuracy = 0.785715 (std = 0.029150)
standardRidge: Accuracy = 0.785731 (std = 0.029140)
standardLasso: Accuracy = -0.005332 (std = 0.008475)
standardDT: Accuracy = 0.620060 (std = 0.055963)
standardRF: Accuracy = 0.620681 (std = 0.060081)

In [15]:
scaledScoreStandard

             Model     Score
0  standardLinearR  0.785715
1    standardRidge  0.785731
2    standardLasso -0.005332
3       standardDT  0.620060
4       standardRF  0.620681

In [16]:
compareModels = pd.concat([Base_model,scaledScoreStandard], axis=1)
compareModels

     Model     Score            Model     Score
0  LinearR  0.785715  standardLinearR  0.785715
1    Ridge  0.785779    standardRidge  0.785731
2    Lasso -0.005332    standardLasso -0.005332
3       DT  0.613192       standardDT  0.620060
4       RF  0.739564       standardRF  0.620681

In [17]:
Base_model_ml = Reg_basedModels(X_train, y_train,models)

standardLinearR: Accuracy = 0.785715 (std = 0.029150)
standardRidge: Accuracy = 0.785731 (std = 0.029140)
standardLasso: Accuracy = -0.005332 (std = 0.008475)
standardDT: Accuracy = 0.607619 (std = 0.060205)
standardRF: Accuracy = 0.613094 (std = 0.056959)

# Testing models based on RandomForest Feature Importance!

In [18]:
df = pd.read_csv('../datasets/P2_rdn.csv')
df = df.drop(['Unnamed: 0'], axis = 1)
df

,OverallQual,GrLivArea,GarageCars,TotalBsmtSF,GarageArea,1stFlrSF,YearBuilt,BsmtFinSF1,LotArea,OverallCond,SalePrice_log
0,7,1710,2,856,548,856,2003,706,8450,5,12.247694
1,6,1262,2,1262,460,1262,1976,978,9600,8,12.109011
2,7,1786,2,920,608,920,2001,486,11250,5,12.317167
3,7,1717,3,756,642,961,1915,216,9550,5,11.849398
4,8,2198,3,1145,836,1145,2000,655,14260,5,12.429216
...,...,...,...,...,...,...,...,...,...,...,...
1354,7,1221,2,1221,400,1221,2004,410,7500,5,12.128111
1355,6,1647,2,953,460,953,1999,0,7917,5,12.072541
1356,7,2340,1,1152,252,1188,1941,275,9042,9,12.493130
1357,5,1078,1,1078,240,1078,1950,49,9717,6,11.864462
1358,5,1256,1,1256,276,1256,1965,830,9937,6,11.901583

### Define the target and non-target vars, together with the train_test split

In [19]:
X = df.drop(['SalePrice_log'], axis=1)
y = df['SalePrice_log']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,
                                                    random_state=42)

## Step 1: Define the baseline models

In [20]:
models = Reg_getBasedModel()

## Step 2: Fit the models

In [21]:
Base_model = Reg_basedModels(X_train, y_train,models)

LinearR: Accuracy = 0.867118 (std = 0.027860)
Ridge: Accuracy = 0.867118 (std = 0.027905)
Lasso: Accuracy = 0.775442 (std = 0.049196)
DT: Accuracy = 0.633760 (std = 0.063884)
RF: Accuracy = 0.834667 (std = 0.044222)

In [22]:
Base_model

     Model     Score
0  LinearR  0.867118
1    Ridge  0.867118
2    Lasso  0.775442
3       DT  0.633760
4       RF  0.834667

## Step 3: Get the models with the scaled data

In [23]:
models = Reg_GetScaledModel('standard')
models

[('standardLinearR',
  Pipeline(steps=[('Scaler', StandardScaler()), ('LinearR', LinearRegression())])),
 ('standardRidge',
  Pipeline(steps=[('Scaler', StandardScaler()), ('Ridge', Ridge())])),
 ('standardLasso',
  Pipeline(steps=[('Scaler', StandardScaler()), ('Lasso', Lasso())])),
 ('standardDT',
  Pipeline(steps=[('Scaler', StandardScaler()), ('DT', DecisionTreeRegressor())])),
 ('standardRF',
  Pipeline(steps=[('Scaler', StandardScaler()), ('RF', DecisionTreeRegressor())]))]

In [24]:
scaledScoreStandard = Reg_basedModels(X_train, y_train,models)

standardLinearR: Accuracy = 0.867118 (std = 0.027860)
standardRidge: Accuracy = 0.867138 (std = 0.027842)
standardLasso: Accuracy = -0.005332 (std = 0.008475)
standardDT: Accuracy = 0.633027 (std = 0.060107)
standardRF: Accuracy = 0.633936 (std = 0.064221)

In [25]:
scaledScoreStandard

             Model     Score
0  standardLinearR  0.867118
1    standardRidge  0.867138
2    standardLasso -0.005332
3       standardDT  0.633027
4       standardRF  0.633936

In [26]:
compareModels = pd.concat([Base_model,scaledScoreStandard], axis=1)
compareModels

     Model     Score            Model     Score
0  LinearR  0.867118  standardLinearR  0.867118
1    Ridge  0.867118    standardRidge  0.867138
2    Lasso  0.775442    standardLasso -0.005332
3       DT  0.633760       standardDT  0.633027
4       RF  0.834667       standardRF  0.633936

# Testing models based on DecisionTree Feature Importance!

In [27]:
df = pd.read_csv('../datasets/P2_cart.csv')
df = df.drop(['Unnamed: 0'], axis = 1)
df

,OverallQual,GrLivArea,YearBuilt,GarageCars,TotalBsmtSF,1stFlrSF,BsmtFinSF1,LotArea,CentralAir,OverallCond,SalePrice_log
0,7,1710,2003,2,856,856,706,8450,1,5,12.247694
1,6,1262,1976,2,1262,1262,978,9600,1,8,12.109011
2,7,1786,2001,2,920,920,486,11250,1,5,12.317167
3,7,1717,1915,3,756,961,216,9550,1,5,11.849398
4,8,2198,2000,3,1145,1145,655,14260,1,5,12.429216
...,...,...,...,...,...,...,...,...,...,...,...
1354,7,1221,2004,2,1221,1221,410,7500,1,5,12.128111
1355,6,1647,1999,2,953,953,0,7917,1,5,12.072541
1356,7,2340,1941,1,1152,1188,275,9042,1,9,12.493130
1357,5,1078,1950,1,1078,1078,49,9717,1,6,11.864462
1358,5,1256,1965,1,1256,1256,830,9937,1,6,11.901583

### Define the target and non-target vars, together with the train_test split

In [28]:
X = df.drop(['SalePrice_log'], axis=1)
y = df['SalePrice_log']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,
                                                    random_state=42)

## Step 1: Define the baseline models

In [29]:
models = Reg_getBasedModel()

## Step 2: Fit the models

In [30]:
Base_model = Reg_basedModels(X_train, y_train,models)

LinearR: Accuracy = 0.869562 (std = 0.028918)
Ridge: Accuracy = 0.869579 (std = 0.028916)
Lasso: Accuracy = 0.765262 (std = 0.059619)
DT: Accuracy = 0.680392 (std = 0.089159)
RF: Accuracy = 0.844828 (std = 0.040031)

In [31]:
Base_model

     Model     Score
0  LinearR  0.869562
1    Ridge  0.869579
2    Lasso  0.765262
3       DT  0.680392
4       RF  0.844828

## Step 3: Get the models with the scaled data

In [32]:
models = Reg_GetScaledModel('standard')
models

[('standardLinearR',
  Pipeline(steps=[('Scaler', StandardScaler()), ('LinearR', LinearRegression())])),
 ('standardRidge',
  Pipeline(steps=[('Scaler', StandardScaler()), ('Ridge', Ridge())])),
 ('standardLasso',
  Pipeline(steps=[('Scaler', StandardScaler()), ('Lasso', Lasso())])),
 ('standardDT',
  Pipeline(steps=[('Scaler', StandardScaler()), ('DT', DecisionTreeRegressor())])),
 ('standardRF',
  Pipeline(steps=[('Scaler', StandardScaler()), ('RF', DecisionTreeRegressor())]))]

In [33]:
scaledScoreStandard = Reg_basedModels(X_train, y_train,models)

standardLinearR: Accuracy = 0.869562 (std = 0.028918)
standardRidge: Accuracy = 0.869577 (std = 0.028903)
standardLasso: Accuracy = -0.005332 (std = 0.008475)
standardDT: Accuracy = 0.677682 (std = 0.092964)
standardRF: Accuracy = 0.671058 (std = 0.114528)

In [34]:
scaledScoreStandard

             Model     Score
0  standardLinearR  0.869562
1    standardRidge  0.869577
2    standardLasso -0.005332
3       standardDT  0.677682
4       standardRF  0.671058

In [35]:
compareModels = pd.concat([Base_model,scaledScoreStandard], axis=1)
compareModels

     Model     Score            Model     Score
0  LinearR  0.869562  standardLinearR  0.869562
1    Ridge  0.869579    standardRidge  0.869577
2    Lasso  0.765262    standardLasso -0.005332
3       DT  0.680392       standardDT  0.677682
4       RF  0.844828       standardRF  0.671058